/*common styles section*/
body {
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;   
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #E55473;
    border: none;
    padding: 20px 40px;
    
}

.title-primary {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.description-primary {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/*banner styles section*/
.banner {
    display: flex;
    justify-content: space-around;
    height: 700px;
    padding: 0px 150px;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    ;
}

.banner-picture {
    width: 500px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.bonus-picture {
    display: flex;
    gap: 24px;
    justify-content: center;


}

.flower-one {

    width: 400px;
    height: 420px;
    border: 8px;
    border-radius: 300px 300px 0px 0px;
    background: url(../images/pngwing\ 6.png), rgba(71, 125, 17, 0.15);
    background-repeat: no-repeat;

}

.flower-two {
    width: 400px;
    height: 420px;
    border: 8px;
    border-radius: 300px 300px 0px 0px;
    background: url(../images/pngwing\ 5.png), rgba(71, 125, 17, 0.15);
    background-repeat: no-repeat;

}

.flower-three {
    width: 400px;
    height: 420px;
    border: 8px;
    border-radius: 300px 300px 0px 0px;
    background: url(../images/pngwing\ 7.png), rgba(71, 125, 17, 0.15);
    background-repeat: no-repeat;

}

.tree {
    display: flex;
    justify-content: space-around;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
/*Deals section style*/
.deal-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
    background: rgba(229, 84, 115, 0.05);

}
.insta-flower{
    display: flex;
    margin-right: 45px;
    margin-left: 45px;
    justify-content: space-around;
    
}